<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title> HTML & CSS</title>
		<link rel="stylesheet" href="">
		<style>
		html,
		body {
		font-family: Georgia, Baskerville, Times, serif;
		font-size: 24px;
		line-height: 1.5;
		margin: 0;
		padding: 0;
		}

		h1 {
			color: white;
			background-color: tomato;
		}
		#site-nav {
			color: white;
			background-color: black;
			position: fixed;
			width: 100%;
			top: 0;
			left: 0;
		}

		nav > ul {
			list-style-type: none;
		}


		.menu-item {
			cursor: pointer;
			color: blue;

		}
		</style>

		<meta property="og:title" content=""> 
	</head>

	<body>
<!-- OLD SCHOOL NON-SEMANTIC WAY 
		<div id="main">
			<div id="header"></div>
			<div id="sidebar"></div>
			<div id="content"></div>
		</div>
--> 
		<main>
			<header style="background-color: tomato;">

				<h1>HTML & CSS Fundamentals</h1>
				<h2>Brought to you by Bitmaker Labs</h2>
			</header>
			<nav id="site-nav">
				<ul>
					<li>Menu Item 1</li>
					<li>Menu Item 2</li>
					<li>Menu Item 3</li>
				</ul>
			</nav>
			<aside id="sidebar"></aside>
			<section id="content">
				<article class="post">
					<header>
						<h1>McFly Family Value</h1>
						<p>Example text abcdefghijklmnopqrstuvwyxz<p>
				</article>
			</section>
			<footer>
			<nav>
				<ul>
					<li>Menu Item 1</li>
					<li>Menu Item 2</li>
					<li>Menu Item 3</li>
				</ul>
			</nav>
			</footer>

		</main>



		<script src=""></script>
	</body>
</html>

