<h1>Delete A Contact</h1>
<h2>Which Contact would you like to delete?</h2>
<form action="/contacts" method="post">
  <input type="text" name="first_name">
  <input type="text" name="last_name">
  <input type="text" name="email">
  <input type="text" name="note">
  <input type="submit" name="Submit">
</form>

