<!DOCTYPE html>
<html>
  <head>
<font size = small>
Sarah's Customer Relationship Management Web Application
<br>
</font>
<br>
<nav><font size="4">
<body link="#FF0066" vlink="#FF80B2" alink="#FF0066"> 
<a href="/">Main Menu</a> **
<a href="/contacts/new">Add A New Contact</a> **
<a href="/contacts">View Contacts</a>
</div></nav></font>
  </head>

  <body>
    <%= yield %>
  </body>

  <footer>
  <br><br><br>
  -----------
  <br>
<font size = small>Thanks for using Sarah's CRM!</font>
</footer>

</html>

